/* Importação da fonte Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f3f0ff; /* Lilás pastel */
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #dcd6f7; /* Lilás pastel mais claro */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #6a0dad; /* Roxo */
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #6a0dad; /* Roxo */
  font-weight: bold;
}

nav a:hover {
  color: #531e8d; /* Roxo mais escuro */
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.gallery img {
  width: 45%;
  border-radius: 10px;
}

.contact-card {
  background-color: #ffffff;
  border: 2px solid #6a0dad; /* Roxo */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.contact-card h3 {
  color: #6a0dad; /* Roxo */
}

.contact-card p {
  color: #333;
  display: flex;
  align-items: center;
}

.contact-card .icon {
  margin-right: 10px;
}

.contact-card a {
  color: #6a0dad; /* Roxo */
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.donation-form {
  background-color: #ffffff;
  border: 2px solid #6a0dad; /* Roxo */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.donation-form h3 {
  color: #6a0dad; /* Roxo */
  margin-bottom: 20px;
}

.donation-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.donation-form input,
.donation-form select,
.donation-form textarea,
.donation-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

.donation-form button {
  background-color: #6a0dad; /* Roxo */
  color: #fff;
  border: none;
  cursor: pointer;
}

.donation-form button:hover {
  background-color: #531e8d; /* Roxo mais escuro */
}

footer {
  background-color: #dcd6f7; /* Lilás pastel mais claro */
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Responsividade */
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os ícones horizontalmente */
  }

  .icon-container {
    width: 150px; /* Largura fixa dos ícones */
    height: 150px; /* Altura fixa dos ícones */
    margin: 10px; /* Espaçamento entre os ícones */
  }
}
