body {
    font-family: Arial, sans-serif;
    background-color: #f3f0ff; /* Lilás pastel */
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #dcd6f7; /* Lilás pastel mais claro */
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #6a0dad; /* Roxo */
    margin: 0;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: #6a0dad; /* Roxo */
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
  }
  
  nav a img.icon {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  .icon {
    width: 50px; /* Tamanho desejado para os ícones */
    height: 50px; /* Tamanho desejado para os ícones */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    border-radius: 10px; /* Borda arredondada */
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com transparência */
    display: flex; /* Permite alinhar o texto verticalmente */
    align-items: center; /* Alinha o texto verticalmente */
    padding: 5px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado do link */
    color: #000; /* Cor do texto */
  }
  
  .icon img {
    margin-right: 5px; /* Espaçamento entre a imagem e o texto */
  }
  
  .icon span {
    margin-top: 5px; /* Ajuste o espaçamento entre a imagem e o texto conforme necessário */
  }
  
  footer {
    background-color: #dcd6f7; /* Lilás pastel mais claro */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
